<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading giglets">
      <h4 class="panel-title"><%= link_to gig.event.titlecase, venue_gig_path(gig.venue.id, gig) %></h4>
      <p><span class="green"><%= gig.date %></span></p>
      <span><%= gig.venue.name.titlecase %></span>

    </div>
  </div>
</div>
