<div class="btn-group dash-menu" role="group">
  <%= link_to "New Gig", new_venue_gig_path(@venue), class: "btn btn-default" %>
  <%= link_to "Edit Venue", edit_venue_path(@venue), class: "btn btn-default" %>
  <%= link_to "Cool Thing", "#", class: "btn btn-default" %>
  <%= link_to "Neat Stuff", "#", class: "btn btn-default" %>
</div>
