<% @venue.timeslots.upcoming.pending.each do |timeslot| %>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%= timeslot.date %></h4>
      </div>
      <div class="panel-body">
        Other Stuff
      </div>
    </div>
  </div>
<% end %>
