<div class="btn-group dash-menu" role="group">
  <%= link_to "New Button", "#", class: "btn btn-default" %>
  <%= link_to "Edit Band", edit_band_path(@band), class: "btn btn-default" %>
  <%= link_to "Cool Thing", "#", class: "btn btn-default" %>
  <%= link_to "Neat Stuff", "#", class: "btn btn-default" %>
</div>
