<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Setlist Manager</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <% @band.gigs.upcoming.pending.each do |gig| %>
        <%= render 'shared/gig_full', gig: gig %>
      <% end %>
    </div>
  </div>
</div>
