<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Setlist Manager</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <% @band.gigs.upcoming.finalized.each do |gig| %>
        <%= render 'shared/song', gig: gig %>
      <% end %>
    </div>
  </div>
</div>
