<h1>Past Event</h1>
<% @venue.past_gigs.each do |gig| %>
  <div>
    <ul>
      <li><%= gig.timeslot.date %></li>
      <li><%= gig.event %></li>
      <li><%= gig.doors %></li>
      <li><%= gig.setlist %></li>
    </ul>
  </div>
<% end %>
