<div class="page-header"><div align="center">
  <img src="/img/rsz_country.png">
  <img src="/img/rsz_dj.png">
  <img src="/img/rsz_jazz.png">
  <img src="/img/rsz_punk.png">
  <img src="/img/rsz_rap.png">
  <img src="/img/rsz_rock.png">
</div></div>

<% @venues.each do |venue| %>
  <div class="gig">
    <div class="row">
      <div class="span1">
        profile img
      </div>
      <div class="span7">
      <div class="gigitt">
        <p><h2><span id="user"><%= link_to venue.name + " Presents", venue %></span>-</h2></p>
          <%= display_gigs(venue.upcoming_gigs, :short) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
