<!DOCTYPE html>
<html>
<head>
<%= favicon_link_tag '/img/favicon-128.ico' %>
  <title>championing dreams, one gig at a time, gigitt.com</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="keywords" content="Gigitt, music, bands, venues, promoters, book shows, book gigs" />
  <meta name="description" content="Gigitt.com The crowd pleaser! A place for fans venues and musicians. Coming together to create a perfect event. Let your voice be heard." />
</head>
<body>
  <%= render 'layouts/header' %>
</body>
</html>
